 body {  font-family: Arial,  sans-serif;}
 #main{
 margin: auto;
    width: 300px;
}

.box{
margin: auto;
width: 50px;
height: 50px;
color: black;
font-size: 44px;
text-align: center;
display: block;
background-color: Tomato;
vertical-align:middle;
line-height: 50px;
}
.fila{
cursor:context-menu;
margin: auto;
width: 296px;
height: 56px;
color: white;
font-size: 23px;
text-align: center;
display: flex;
background-color: white;
}
#intro{
cursor: none;
margin: auto;
width: 230px;
height: 66px;
}

.bot{ visibility:hidden;}